:root {
    --navbar-height: 30px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 1%;
    -webkit-app-region: drag;
    background: #EEEEEE;
    height: var(--navbar-height);
}

.toodoo-icon {
    cursor: pointer;
    -webkit-app-region: drag;
}

.menu-buttons {
    cursor: pointer;
    list-style: none;
    -webkit-app-region: no-drag;
    height: var(--navbar-height);
    margin-top: 3px;
}

.menu-buttons li {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size: 24px;
    width:30px;
}

.menu-buttons li:hover {
    background: #DDDDDD;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.alert {
    padding: 20px;
    background-color: #A6D785;
    color: black;
    margin-bottom: 15px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
.closebtn:hover {
    color: black;
}