html, 
body {
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* ---------- Navbar CSS ---------- */

.header,
.main-nav {
    display: flex;
}
.header {
    flex-direction: row;
    justify-content: space-between;
}

.logo { /* Don't remove these - for whatever reason everything breaks */
	margin: 0;
    font-size: 1em;
}

.main-nav li, .logo {
	-webkit-app-region: no-drag;
}

.main-nav li {
    width: 30px;
}

.main-nav li:hover {
    cursor: pointer;
    background: #dddddd;
}

.main-nav li img {
    position: relative;
    left: 25%;
}

.header {
    height: 5%;
    background-color: #eeeeee;
    -webkit-app-region: drag;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/* ---------- Alert CSS ---------- */

.alert-success {
    padding: 20px;
    background-color: #A6D785;
    color: black;
}

.alert-error {
    padding: 20px;
    background-color: #FA8072;
    color: black;
}
  
/* ---------- Main page CSS ---------- */

.wrapper {
    height: 95%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: minmax(100px, auto);
}

.box {
    padding: 0.25em;
}

.box1 {
    grid-row: 1/2;
}

.dateTitle {
    font-weight: 600;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.upcomingEvents {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
}

.upcomingEvents > div {
    padding-inline-start: 0px;
    list-style: none;
    background:#eee;
    margin-bottom: 0rem;
    flex: 1;
}

.upcomingEvents > div:nth-child(odd) {
    background:#ddd;
}